*.Cache
*.Settings
*.bat
*.cache
*.class
*.jar
*.log
*.map
*.nupkg
*.pyc
*.shf*
*.suo
*.userprefs
.classpath
.nuget/
.pmd
.project
.settings/
.vs/
CBORTest/ExtensiveTest.*
CBORTest/OpenCover/
CBORTest/ProfilingSessions/
CBORTest/bin/
CBORTest/obj/
Help/
ProfilingSessions/
TestResults/
bin/
cache/
coverage.xml
encoding/
encodingfldr/
js/*.ht*
js/DecTest.*
obj/
packages/
target/
